#bloc_page
{
    width: 1800px;
    margin: 
}
 
h2
{
	text-decoration: underline;
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:280px;
    height: 600px;
    position:fixed;
    border-radius: 5px;
    background-color: #99d0d4;
	background-size: 10px;
	background-image: -webkit-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .25) 50%);
	background-image: -moz-linear-gradient(0px 50%, transparent 90%, rgba(255, 255, 255, 0.25) 50%);
	background-image: -ms-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .25) 50%);
	background-image: -o-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .25) 50%);	
}

#parcour
{
    padding-left: 300px;
    float:left;
    width: 450px;
    text-align: ;
}

footer
{
    padding-top: 10px;
    padding-left: 900px;
    padding-bottom: -500px;
}

img
{
	border-radius: 70px;
}

#plus1, #plus2
{
    margin-bottom: 120px;
}

body
{
	background-color: #CEEFEC;
}